#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  object-fit:cover;
  z-index:-1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: -1; /* Send overlay behind the text */
}


h2 {
font-family:Garamond;
font-size:60px;
  color: white; /* Ensure the text is visible against the video */
  position: absolute;
  top: 50%; /* Vertically center the text */
  left: 50%; /* Horizontally center the text */
  transform: translate(-50%, -50%); /* Center exactly */
  z-index: 1; /* Bring the text on top of the video */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add a shadow for better visibility */

}

/* Style the navbar */
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
	z-index:2;
}

/* Navbar links */
#navbar a {
	  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 22px;
  padding-left:200px;
  text-decoration: none;
  font-size:30px;
}

/* Portfolio Section Styling */
#portfolio {
    margin-top: 100vh; /* Push the portfolio section down to be below the banner */
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
	display:block;
}

#portfolio h3 {
    font-size: 36px;
    color: #333;
}

main .highlight-wrap-hover {
    background: #f7aaaa;
}

.my-remove-tip {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 3px;
    height: 20px;
    width: 40px;
    color: #fff;
    background: #444;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    line-height: 18px;
    overflow: visible;
}

.my-remove-tip::after {
    content: '';
    position: absolute;
    left: 16px;
    bottom: -4px;
    border-color: #444 transparent transparent;
    border-width: 4px 4px 0;
    border-style: solid;
    height: 0;
    width: 0;
}

.op-panel {
    box-sizing: border-box;
    padding: 1px 5px 6px 8px;
    position: fixed;
    top: 50px;
    left: 15px;
    background: rgba(0, 0, 0, .1);
    border-radius: 3px;
    border: 1px dashed #aaa;
}

.op-panel a {
    position: absolute;
    right: 10px;
    bottom: 12px;
    height: 18px;
    width: 18px;
    opacity: .7;
}

.op-panel a:hover {
    opacity: 1;
}

.op-panel svg {
    height: 18px;
    width: 18px;
}

.op-panel input[type="radio"] {
    opacity: 1;
    width: auto;
    position: static;
    line-height: normal;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.op-panel .op-name {
    margin-right: 0;
}

.op-panel label {
    font-size: 12px;
    margin-right: 2px;
}

.op-panel .op-btn {
    display: block;
    font-size: 12px;
}

.op-panel .op-btn.disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 1150px) {
    main {
        padding: 0 15px;
        overflow-x: hidden;
    }

    .op-panel {
        right: 5vw;
        bottom: 5vh;
        left: auto;
        top: auto;
        background-color: rgba(0, 0, 0, .9);
        color: #fff;
    }
}
